@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)), url('../assets/barbershop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.back-button a:hover {
    color: goldenrod;
}

header {
    padding: 10rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

header h1 {
    color: goldenrod;
    font-size: 3rem;
    margin-bottom: 2rem;
}

main {
    padding-bottom: 5rem;
}

.service-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    color: white;
    padding: 0 2rem;
}

.service-item {
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.service-item .btn-schedule { 
    font-size: 1rem;
    width: 60%;
    height: 15%;
    padding: 5px;
    text-align: center;
    background-color: goldenrod;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

.service-item .btn-schedule:hover {
    background-color: rgb(175, 129, 11);
    transform: scale(1.1);
    cursor: pointer;
}

.service-item img {
    color: white;
    width: 1.5rem;
}



#overlay.hidden {
    display: none;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

#modal {
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 30px;
    width: 90%;
    max-width: 400px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

#date-picker {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


#time-slots-container {
    margin-top: 15px;
}

#time-slots-container h4 {
    color: goldenrod;
    margin-top: 10px;
    text-align: left;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.time-button {
    background-color: transparent;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.time-button.selected,
.time-button:hover {
    background-color: goldenrod;
    color: black;
}

#confirm-btn {
    width: 100%; /* Ocupa a largura toda */
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #daa520;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

#confirm-btn:hover {
    background-color: rgb(175, 129, 11);
}


#confirm-btn:disabled {
    background-color: #555;
    color: #999;
    cursor: not-allowed;
    border: 1px solid #777;
}